.main-examTen {
    height: 100vh;
    overflow: hidden;
    /* chặn scroll toàn trang*/
}

.exam-layout {
    display: flex;
    gap: 20px;
    padding: 20px;
    height: 100%;
    /* align-items: flex-start; */
}

/* Khung trái */
.exam-left {
    width: 25%;
    /* position: sticky; */
    /* cố định */
    background: #f8f9fa;
    padding: 16px;
    border-radius: 8px;
    /* top: 20px; */
    /* height: fit-content; */
}

.question-status {
    margin-top: 12px;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.question-number {
    width: 32px;
    height: 32px;
    border: 1px solid #ccc;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
}

.question-number.answered {
    background: #28a745;
    color: white;
    border-color: #28a745;
}

/* Khung phải */
.exam-right {
    width: 75%;
    height: 100%;
    overflow-y: auto;
    padding: 16px;
    position: relative;
}

.exam-right h1 {
    text-align: center;
    margin-bottom: 20px;
}

.question-card {
    background: white;
    padding: 16px;
    margin-bottom: 16px;
    border-radius: 8px;
    border: 1px solid #ddd;
}

.answers {
    display: flex;
    gap: 12px;
    margin-top: 8px;
}

.answer-btn {
    /* padding: 8px 14px;
    border-radius: 6px;
    border: 1px solid #ccc;
    background: white;
    cursor: pointer; */
    padding: 10px;
    margin-bottom: 8px;
    border-radius: 6px;
    background: #f2f2f2;
}

.answer-btn.correct {
    background: #d4edda;
    border: 1px solid #28a745;
    color: #155724;
}

.answer-btn.wrong {
    background: #f8d7da;
    border: 1px solid #dc3545;
    color: #721c24;
}

/* .answer-btn.selected {
    background: #fa7b21;
    color: white;
    border-color: #fa7b21;
} */

/* Submit */
/* .submit-exam {
    display: flex;
    align-items: center;
    justify-content: center;

} */
/* KHUNG NÚT NỘP */
.submit-exam {
    height: 20%;
}

.btn-practice-examTen {
    display: block;
    margin: 24px auto;
    /* auto = ra giữa */

}



/* selectedAnswers là object
Khi click đáp án bên phải:

Lưu vào selectedAnswers

React re-render

Khung trái tự động:

Đổi màu số câu đã làm
*/