.login-container {
    background-color: #fa8231;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 70px;
    width: 400px;
}

.auth-container {
    width: 300px;
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
}

input {
    padding: 8px;

}

button {
    padding: 10px;
    cursor: pointer;
    border: none;
}

button:hover {
    background-color: #f7b731;
    color: #fff;
}