.register-page{
    display: flex;
    /* căn giữa ngang */
    justify-content: center; 
    /* căn giữa dọc */
    align-items: center;
    /* background-color: white; */
}
.auth-container {
    width: 350px;
    background: white;
    padding: 25px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #f7b731;
}

.auth-container h2 {
    margin-bottom: 15px;
}

input {
    padding: 8px;

}

button {
    padding: 10px;
    cursor: pointer;
    border: none;
}

button:hover {
    background-color: #ee5f0c;
    color: #fff;
}
.auth-container label{
    display: flex;
    /* position: relative; */

}
.auth-container label p{
    color: gray;
    font-size: 13px;
}
.required{
    color: red;
    margin-left: 4px;
}
