.modal-overlay-ques {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.4);

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 999;
}

/* Box modal */
.modal-overlay-ques .modal-ques {
  width: 600px;
  max-height: 80vh;
  overflow-y: auto;

  background: #fff;
  padding: 20px 24px;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Title */
.modal-overlay-ques .modal-ques h3 {
  text-align: center;
  margin-bottom: 10px;
  font-size: 24px;
}

/* Label */
.modal-overlay-ques .modal-ques h4 {
  font-size: 14px;
  margin: 5px 0;
  color: #666;
}

/* Input - select - textarea */
.modal-overlay-ques .modal-ques input,
.modal-overlay-ques .modal-ques select,
.modal-overlay-ques .modal-ques textarea {
  width: 100%;
  padding: 8px 10px;

  border-radius: 6px;
  border: 1px solid #ccc;

  font-size: 14px;
  box-sizing: border-box;
}

/* textarea */
.modal-overlay-ques .modal-ques textarea {
  min-height: 80px;
  resize: vertical;
}

/* focus */
.modal-overlay-ques .modal-ques input:focus,
.modal-overlay-ques .modal-ques select:focus,
.modal-overlay-ques .modal-ques textarea:focus {
  outline: none;
  border-color: #3b82f6;
}

/* ===== ĐÁP ÁN ===== */
.modal-overlay-ques .answer-item {
  display: flex;
  align-items: center;
  gap: 10px; /* khoảng cách radio và input */
  margin-bottom: 10px;
}

/* radio nhỏ gọn lại */
.modal-overlay-ques .answer-item input[type="radio"] {
  width: 16px;
  height: 16px;
  cursor: pointer;
}

/* input chiếm hết phần còn lại */
.modal-overlay-ques .answer-item input[type="text"] {
  flex: 1;
}


/* Button */
.modal-overlay-ques .modal-actions-ques {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  margin-top: 10px;
}

.modal-overlay-ques .modal-actions-ques .save-btn {
  background: #0553d0;
  color: white;
  /* Tăng độ rộng */
  min-width: 90px;
  /* Nút dày hơn */
  padding: 10px 16px ;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.modal-overlay-ques .modal-actions-ques .save-btn:hover {
  background: #033c9e;
}

.modal-overlay-ques .modal-actions-ques .close-btn {
  background: #929090;
  color: white;
  min-width: 30px;
  padding: 8px 14px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}