.profile-container{
  padding: 20px;
  background: #fdf0e3;
}
.title{
  font-size: 24px;
  margin-bottom: 20px;
  padding-left: 300px;
}

/* Chia 2 cột */
.subject-list{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  width: 60%;
  /* Đẩy ra giữa */
  margin: 0 auto; 
}
.subject-card{
  background: #fff;
  border-radius: 12px;
  padding: 15px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

/* Header trong card */
.subject-card h2{
  font-size: 18px;
  margin-bottom: 15px;
}

/* Layout bên trang card */
.subject-card-item{
  display: flex;
  align-items: center;
  gap: 5px;
}
.subject-card-item img{
  border-radius: 8px;
}

/* Button */
.profile-nav {
  display: flex;
  flex-direction: column;
  gap: 15px;
  flex: 1;
  margin: 16px 40px 10px;
}
.profile-nav h2{
  margin-left: auto;
}
.profile-nav button{
  width: fit-content;
  padding: 6px 15px;
  border: none;
  border-radius: 6px;
  background: #fc9e40;
  color: #fff;
  cursor: pointer;
  margin-left: auto;
}
.profile-nav button:hover{
  background: #fc9e40;
  color: #000;
}