.review{
    display: flex;
    /* padding: 20px 30px; */
    justify-content: center;
    align-items: flex-start;

}
.review-page{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1200px;
}
.review-page h2{
    text-align: center;
    margin-bottom: 20px;
    padding: 20px;
    font-weight: 800;
    font-size: 30px;
}
.review-page-list{
    margin-bottom: 25px;
}
.review-page .review-page-ans{
    border-radius: 7px;
    /* border: 1px solid #adf394; */
}
/* Trả lời */
.review-page-ans {
    margin: 6px 0;
    padding: 10px;
    border-radius: 8px;
    background: #f1f1f1;
}

.review-page-ans.correct {
    background: #d4edda;
    color: #155724;
    border: 2px solid #22c55e;
}

.review-page-ans.wrong {
    background: #f99898;
    color: #5c0c03;
    border: 2px solid #ef4444;
}

/* Làm lại bài */
.review button{
    margin: 20px auto 0 auto;  /* auto giúp căn giữa ngang */
    display: block;
    padding: 10px 18px;
    border-radius: 6px;
    border: 1px solid #000;
    cursor: pointer;
}
.review button:hover{
    border: 1px solid #fa7b21;
    color: #fff;
    background: #fc8835;
}