.admin-container{
    grid-area: main;
    padding: 30px;
    background: #f5f7fb;
}
/* Sidebar */
/* .sidebar {
  width: 220px;
  background: #1f3a5f;
  color: white;
  padding: 20px;
}

.sidebar h2 {
  margin-bottom: 20px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  padding: 10px;
  cursor: pointer;
  border-radius: 6px;
}

.sidebar li:hover,
.sidebar .active {
  background: #2e5c8a;
} */

/* Main */
.main-content{
    flex: 1;
    padding: 20px;
    background: #f5f7fa;
}
/* Header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.add-btn{
    background: #4da3ff;
    border: none;
    padding: 10px 15px;
    color: white;
    border-radius: 6px;
    cursor: pointer;
}
/* Table */
.topic-table{
    width: 100%;
    border-collapse: collapse;
    background: white;
}
.topic-table th,
.topic-table td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}
.topic-table th {
    background: #f0f0f0;
}
/* Button */
.edit-btn{
    background: #f3d73c;
    border: none;
    padding: 6px 10px;
    color: white;
    margin-right: 5px;
    border-radius: 5px;
    cursor: pointer;

}
.delete-btn {
  background: #ff4d4f;
  border: none;
  padding: 6px 10px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.pagination{
  margin-top: 15px;
  display: flex;
  gap: 8px;
  justify-content: center;
}

.pagination button{
   margin-right: 5px;
    padding: 5px 10px;
    border: 1px solid #ddd;
    background: white;
    cursor: pointer;
}
.pagination button.active {
  background: #2f80ed;
  color: white;
}
.pagination button:disabled{
   /* background: #ccc; */
   opacity: 0.5;
    cursor: not-allowed;
}