.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 999;
}

.modal-sub {
  background: #fff;
  padding: 20px;
  width: 500px;
  max-width: 100%;
  border-radius: 8px;
   box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.modal-sub h3{
    margin-bottom: 15px;
    text-align: center;
}

.modal-sub input,
.modal-sub textarea {
  width: 100%;
  margin-bottom: 12px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.modal-actions-sub {
  display: flex;
  justify-self: flex-end;
  gap: 10px;
}

.save-btn {
  background: #3b82f6;
  color: white;
  padding: 6px 12px;
  border: none;
  border-radius: 5px;
}

.cancel-btn {
  background: #929090;
  color: #fff;
  padding: 6px 12px;
  border: none;
  border-radius: 5px;
}