/* Toàn bộ */

/* Khung trên */
.hero-section-ten{
    /* display: flex;
    margin-top: 70px;
    margin-bottom: 20px; */
    /* background: linear-gradient(135deg, #4facfe, #00f2fe); */
    padding: 60px 0;
    /* color: #fa7b21; */
}
.container-ten{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}
/* Layout */
.body-layout-ten{
    display: flex;
    /* Đẩy 2 bên */
    justify-content: space-between; 
    /* Căn giữa theo chiều dọc */
    align-items: center;
    /* text-align: center; */
}
.body-text-ten h1{
    /* text-align: center; */
    font-size: 44px;
    font-weight: bold;
    /* bỏ margin dưới của h1 để không lệch */
    margin: 0;
    /* color: #fa7b21; */
}
.hero-section-ten .revise-search{
    /* width: 30%;
    margin-top: 35px;
    border: 1px solid #fa7b21;
    border-radius: 6px;
    padding: 6px; */
    /* background: #eee; */
    /* box-shadow: 0 6px 18px rgba(0, 0, 0, 0.08); */
    display: flex;
    justify-content: right;
    /* margin-left: 40px; */
}
.revise-search input{
    width: 450px;
    /* margin-left: 40px; */
    padding: 12px 16px;
    border-radius: 6px;
    border: 1px solid #fa7b21;
    outline: none;
    font-size: 16px;
    transition: 0.3s;
}
/* Hiệu ứng focus */
.revise-search input:focus{
    width: 450px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
/* Optional: hover  */
.revise-search input:hover{
    transform: scale(1.03);
}

/* Khung dưới */
.feature-section-ten {
    width: 80%;
    margin: 0 auto;
}

.feature-list-ten {
    /* display: flex;
    grid-template-columns: repeat(1, 1fr);
    gap: 24px; */

}

.card-list {
    /* background: #fff; */
    border-radius: 14px;
    padding: 20px;
    /* box-shadow: 0 6px 18px rgba(0, 0, 0, 0.08); */
}

.card-list h2 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 16px;
    color: #fa7b21;
}

.card-list-ten {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
}

/* Ô item */
.card-ten-item {
    border: 1px solid #eee;
    border-radius: 12px;
    padding: 16px;
    margin-bottom: 14px;
    flex-direction: column;
    transition: all 0.25s ease;
    background: #fafafa;
}