/* Main */
.main {
    /* background: #f5bf75; */
    /* padding: 180px 0; */
    width: 100%;
    background: #fff;
}

/* Khung trên */
.hero-section-revise {
    /* background: #fff; */
    /* padding: 80px 0; */
    min-height: 30vh;
    display: flex;
    align-items: center;
}

.hero-section-revise .container {
    width: 100%;
}


/* Layout 2 cột */
.body-layout-revise {
    /* display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px; */
    /* align-items: center; */
    display: flex;
    justify-content: center;

}

.body-text-revise {
    text-align: center;
    max-width: 800px;

}

/* Phần chữ */
.body-text-revise h1 {
    font-size: 36px;
    margin-bottom: 16px;
    text-align: center;
}

.body-text-revise p {
    font-size: 16px;
    /* color: #; */
    font-weight: 400;
    margin-bottom: 24px;
}

.btn-start {}



/*============================= Khung dưới =================================*/
.feature-section-revise {
    /* margin: 30px; */
    /* width: 0%; */
    /* padding: 30px ; */
    margin-bottom: 60px;
    /* background-color: rgb(251, 198, 130); */
}

.feature-section-revise h2 {
    text-align: left;
    margin-left: 48px;
    font-size: 28px;
    margin-bottom: 40px;
}

/* Grid card  */
.feature-list-revise {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    /*Khoảng cách giẵ các item*/
}

.feature-card-revise {
    margin-left: 20px;
    margin-right: 20px;
    background: #f8d8ab;
    padding: 54px;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
    text-align: center;
    transition: 0.3s;
    cursor: pointer;
}

.feature-card-revise img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.feature-card-revise:hover {
    transform: translateY(-6px);
    /* box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1); */
}

.feature-card-revise h3 {
    /* margin-bottom: 12px; */
    padding: 16px;
    text-align: center;
}

.btn-practice {
    margin-top: 10px;
    padding: 8px 16px;
    color: #fa7b21;
    border-radius: 6px;
    border: 1px solid #fa7b21;
    cursor: pointer;
    font-size: 14px;
}

.btn-practice:hover {
    background-color: #c98021;
    color: #fff;
}

/* ===== RESPONSIVE ===== */
/* @media (max-width: 1024px) {
    .feature-list-revise {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .feature-list-revise {
        grid-template-columns: 1fr;
    }

    .feature-section-revise {
        padding: 40px 0;
    }
} */

/* Responsive Mobile */
/* @media (max-width: 768px) {
    .body-layout-revise {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .body-images {
        justify-content: center;
        margin-top: 24px;
    }

    .body-images img {
        max-width: 120px;
    }

    .body-text h1 {
        font-size: 26px;
    }
} */