.header{
    grid-area: header;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 12px;
    background: #fff;
}

.header-right h4{
    display: flex;
    align-items: center;
    padding: 55px;
    /* Khoảng cách giữa tên và icon */
    gap: 8px; 
    margin: 0;
}
.user-icon{
    font-size: 20px;
}