.modal-overlay-edit {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.45);

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 999;
}

.modal-exam-edit {
    width: 500px;
    background: #fff;

    border-radius: 14px;
    padding: 24px;

    display: flex;
    flex-direction: column;
    gap: 10px;

    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.12);
}

.modal-exam-edit h3 {
    text-align: center;
    margin-bottom: 10px;

    color: #1e293b;
    font-size: 26px;
    font-weight: 700;
}

.modal-exam-edit h4 {
    margin: 0;
    color: #475569;
    font-size: 15px;
    font-weight: 600;
}

/* INPUT NHỎ LẠI */
.modal-exam-edit input,
.modal-exam-edit textarea {
    width: 90%;
    /* align-self: ; */

    padding: 10px 14px;

    border: 1px solid #dbe1ea;
    border-radius: 10px;

    background: #f8fafc;
    font-size: 14px;

    outline: none;
    transition: 0.2s;
}

.modal-exam-edit input:focus,
.modal-exam-edit textarea:focus {
    border-color: #2563eb;

    box-shadow:
        0 0 0 3px rgba(37, 99, 235, 0.12);

    background: white;
}

.modal-exam-edit textarea {
    min-height: 40px;
    resize: vertical;
}

/* BUTTON */
.modal-actions-exam-edit {
    display: flex;
    /* justify-content: center; */
    gap: 12px;

    margin-top: 15px;
}

.modal-actions-exam-edit button:first-child {
    background: #2563eb;
    color: white;

    border: none;
    border-radius: 10px;

    padding: 10px 20px;
    cursor: pointer;

    font-weight: 600;
}

.modal-actions-exam-edit button:first-child:hover {
    background: #1d4ed8;
}

.modal-actions-exam-edit button:last-child {
    background: #e2e8f0;
    color: #334155;

    border: none;
    border-radius: 10px;

    padding: 10px 20px;
    cursor: pointer;

    font-weight: 600;
}

.modal-actions-exam-edit button:last-child:hover {
    background: #cbd5e1;
}