/* Overlay */
.modal-overlay-addsub {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;  /* toàn viewport */
  height: 100vh;
  background: rgba(0,0,0,0.5);

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 9999;
}

.modal-overlay-addsub .modal-sub {
  background: #fff;
  padding: 25px;
  width: 600px;
  border-radius: 12px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.2);

  display: flex;
  flex-direction: column;
  gap: 15px;

  animation: fadeIn 0.3s ease;
  position: relative;
  /* max-width: 90vw;
  box-sizing: border-box; */
}

/* Title */
.modal-overlay-addsub .modal-sub h3 {
  text-align: center;
  font-size: 22px;
  margin-bottom: 10px;
}

/* Label */
.modal-overlay-addsub .modal-sub label {
  font-weight: 500;
  color: #555;
  margin-bottom: 5px;
}

/* Input + textarea */
.modal-overlay-addsub .modal-sub input,
.modal-overlay-addsub .modal-sub textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
    box-sizing: border-box; /* QUAN TRỌNG */

    outline: none;
    font-size: 14px;
    transition: 0.2s;
}

/* Focus */
.modal-overlay-addsub .modal-sub input:focus,
.modal-overlay-addsub .modal-sub textarea:focus {
  border-color: #1d5bd1;
}

/* Textarea */
.modal-overlay-addsub .modal-sub textarea {
  min-height: 100px;
  resize: none;
}

/* Button group */
.modal-overlay-addsub .modal-actions-sub {
  display: flex;
  justify-self: flex-end;
  gap: 10px;
}

/* Button */
.modal-overlay-addsub .save-btn {
  background: #1d5bd1;
  color: white;
  padding: 10px 18px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.modal-overlay-addsub .close-btn {
  background: #999;
  color: white;
  padding: 10px 18px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

/* Hover */
.modal-overlay-addsub .save-btn:hover {
  background: #1747a6;
}

.modal-overlay-addsub .close-btn:hover {
  background: #777;
}