.document-page{

    width:95%;
    max-width:1400px;

    margin:40px auto;
}

/* tên môn */
.document-subject-title{

    text-align:center;

    font-size:42px;

    color:#ff8800;

    margin-bottom:40px;

    font-weight:800;
}

/* grid */
.document-page .chapter-grid{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    gap:24px;
}

.document-page .chapter-card{
    width:520px;
    max-width:100%;

    background:#fff;
    border:3px solid #ff8800;
    border-radius:18px;

    padding:20px;

    box-shadow:0 4px 12px rgba(0,0,0,0.08);

    transition:.3s;
}

.document-page .chapter-card:hover{
    transform:translateY(-4px);
}

.document-page .chapter-card h2{
    font-size:22px;
    margin-bottom:20px;
}

.document-page .lesson-item{
    margin-bottom:16px;
}

.document-page .lesson-item h3{
    font-size:18px;
}

.document-page .chapter-card:hover{

    transform:translateY(-4px);
}

/* title */
.document-page .chapter-card h2{

    color:#001b8e;

    font-size:25px;

    margin-bottom:28px;

    font-weight:800;
}

/* bài */
.document-page .lesson-item{

    margin-bottom:24px;

    cursor:pointer;

    transition:0.3s;
}

.document-page .lesson-item:hover{

    transform:translateX(6px);
}

/* tên bài */
.document-page .lesson-item h3{

    color:#001b8e;

    font-size:19px;

    line-height:1.5;

    font-weight:600;
}

.document-page .lesson-item:hover h3{

    color:#ff6600;
}